Repository loggie-io/loggie, pull requests merged in 2022-01, with the labels that each got.

#45 feat: event meta
  pkg/core/api/base.go
  pkg/core/cfg/cfg.go
  pkg/core/event/event.go
  pkg/include/include.go
  pkg/interceptor/json_decode/interceptor.go
  pkg/interceptor/logalert/alerting.go
  pkg/interceptor/maxbytes/interceptor.go
  pkg/interceptor/metric/interceptor.go
  pkg/interceptor/normalize/add.go
  pkg/interceptor/normalize/addmeta.go
  pkg/interceptor/normalize/drop.go
  pkg/interceptor/normalize/jsondecode.go
  pkg/interceptor/normalize/regex.go
  pkg/interceptor/normalize/rename.go
  pkg/interceptor/normalize/split.go
  pkg/interceptor/normalize/timestamp.go
  pkg/interceptor/normalize/underroot.go
  pkg/pipeline/info.go
  pkg/pipeline/pipeline.go
  pkg/queue/channel/queue.go
  pkg/queue/memory/memory.go
  pkg/sink/codec/codec.go
  pkg/sink/codec/config.go
  pkg/sink/codec/json/config.go
  pkg/sink/codec/json/json.go
  pkg/sink/codec/select_test.go
  pkg/sink/codec/transformer/add.go
  pkg/sink/codec/transformer/config.go
  pkg/sink/codec/transformer/copy.go
  pkg/sink/codec/transformer/drop.go
  pkg/sink/codec/transformer/move.go
  pkg/sink/codec/transformer/register.go
  pkg/sink/codec/transformer/rename.go
  pkg/sink/codec/transformer/timestamp.go
  pkg/sink/codec/transformer/transformer.go
  pkg/sink/dev/sink.go
  pkg/sink/elasticsearch/client.go
  pkg/sink/elasticsearch/elasticsearch.go
  pkg/sink/kafka/sink.go
  pkg/source/dev/source.go
  pkg/source/file/ack.go
  pkg/source/file/job.go
  pkg/source/file/listener.go
  pkg/source/file/multilines.go
  pkg/source/grpc/source.go
  pkg/source/kafka/kafka.go
  pkg/source/kubernetes_event/eventer.go
  pkg/util/regex.go
  pkg/util/runtime/object.go
  pkg/util/runtime/object_test.go
  pkg/util/runtime/select.go
  pkg/util/select.go
Labels: area/core

#50 Fix:
  pkg/interceptor/normalize/addmeta.go
  pkg/interceptor/normalize/rename.go
  pkg/util/runtime/object.go
Labels: bug, area/interceptor

#47 Feat(source): ack kafka messages after sink ack
  pkg/source/kafka/config.go
  pkg/source/kafka/kafka.go
Labels: area/source

#53 Feat(source): add unix sock source
  go.mod
  go.sum
  pkg/include/include.go
  pkg/source/kubernetes_event/eventer.go
  pkg/source/prometheus_exporter/prometheus.go
  pkg/source/unix/config.go
  pkg/source/unix/unixsock.go
  vendor/golang.org/x/net/http2/README
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/errors.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/huffman.go
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_random.go
  vendor/golang.org/x/net/idna/go118.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/pre_go118.go
  vendor/golang.org/x/net/idna/punycode.go
  vendor/golang.org/x/net/netutil/listen.go
  vendor/modules.txt
Labels: area/source
