Repository loggie-io/loggie, pull requests merged in 2022-03, with the labels that each got.

#79 Fix: pipelines would be stopped due to ignoring certain pipeline cfg …
  pkg/control/config.go
Labels: bug, area/core

#74 Feat(sink): elasticsearch sink support type, for v5.* backward compat…
  pkg/sink/elasticsearch/client.go
  pkg/sink/elasticsearch/config.go
  pkg/sink/elasticsearch/elasticsearch.go
Labels: area/sink

#27 Feat(interceptor): specify types for extracted variables from log lines
  pkg/interceptor/normalize/convert.go
  pkg/interceptor/normalize/convert_test.go
Labels: area/interceptor

#76 Feat(discovery): LogConfig file source can exclude containers
  pkg/discovery/kubernetes/controller/selectpodhandler.go
  pkg/interceptor/normalize/convert.go
Labels: area/discovery

#28 Feat(sink): support filesink
  go.mod
  go.sum
  pkg/include/include.go
  pkg/sink/file/config.go
  pkg/sink/file/multiwriter.go
  pkg/sink/file/multiwriter_test.go
  pkg/sink/file/sink.go
  pkg/sink/file/writer.go
  pkg/sink/file/writer_test.go
  pkg/util/consistent/consistent.go
  pkg/util/consistent/consistent_test.go
  vendor/github.com/panjf2000/ants/v2/.gitignore
  vendor/github.com/panjf2000/ants/v2/.travis.yml
  vendor/github.com/panjf2000/ants/v2/CODE_OF_CONDUCT.md
  vendor/github.com/panjf2000/ants/v2/CONTRIBUTING.md
  vendor/github.com/panjf2000/ants/v2/LICENSE
  vendor/github.com/panjf2000/ants/v2/README.md
  vendor/github.com/panjf2000/ants/v2/README_ZH.md
  vendor/github.com/panjf2000/ants/v2/ants.go
  vendor/github.com/panjf2000/ants/v2/go.mod
  vendor/github.com/panjf2000/ants/v2/go.sum
  vendor/github.com/panjf2000/ants/v2/internal/spinlock.go
  vendor/github.com/panjf2000/ants/v2/options.go
  vendor/github.com/panjf2000/ants/v2/pool.go
  vendor/github.com/panjf2000/ants/v2/pool_func.go
  vendor/github.com/panjf2000/ants/v2/worker.go
  vendor/github.com/panjf2000/ants/v2/worker_array.go
  vendor/github.com/panjf2000/ants/v2/worker_func.go
  vendor/github.com/panjf2000/ants/v2/worker_loop_queue.go
  vendor/github.com/panjf2000/ants/v2/worker_stack.go
  vendor/gopkg.in/natefinch/lumberjack.v2/.travis.yml
  vendor/gopkg.in/natefinch/lumberjack.v2/chown_linux.go
  vendor/gopkg.in/natefinch/lumberjack.v2/go.mod
  vendor/gopkg.in/natefinch/lumberjack.v2/go.sum
  vendor/gopkg.in/natefinch/lumberjack.v2/lumberjack.go
  vendor/modules.txt
Labels: area/sink

#86 fix build failure
  pkg/sink/file/sink.go
Labels: bug

#112 Fix: update maxAcceptedBytes defaults value in kafka source; add kafk…
  Dockerfile
  Makefile
  pkg/pipeline/pipeline.go
  pkg/sink/kafka/sink.go
  pkg/source/kafka/config.go
  pkg/source/kafka/kafka.go
Labels: bug, area/source

#121 Feat(discovery): Add spec.interceptors and spec.sink params in ClusterLogConfig/LogConfig CRD
  pkg/discovery/kubernetes/apis/loggie/v1beta1/clusterlogconfig_types.go
  pkg/discovery/kubernetes/controller/selectpodhandler.go
  pkg/discovery/kubernetes/helper/config.go
Labels: enhancement, area/discovery
